body {
    text-align: center;
}



#gameboard {
    /*padding-top: 20px;*/
    /*background-image:url(../imgs/bg-game2.png);*/
    /*background-color: gray;*/
    display: inline-block;
 }  


 .col {
     width: 60px;
     height: 60px;
     display: inline-block;
     background-color: rgba(216, 216, 216, 0.205);
     margin: 5.7px;    

 }

 .cell-highLight{
  background-color: rgba(216, 216, 216, 0.505);
 }

 .vs {
    max-width: 450px;
    margin: auto;
 }

 @media (max-width: 500px){
    #gameboard{
        width: 100%;
    }
    .col {
        
        width: 14vw;
        height: 12vw;
        margin: 0.9vw;
    }

    .vs {
        width: 100%;
        position: relative;
    }

     .next-red {
        background-image:url(../imgs/player260.png);
        opacity: 0.7;
        position: center;
        background-size: contain;
        background-repeat: no-repeat;
        }

     .next-black {

        background-image:url(../imgs/player160.png);
        opacity: 0.7;
        background-size: contain;
        background-repeat: no-repeat;
     }

     .col.red {
        background-image:url(../imgs/player160.png);
        background-size: contain;
        background-repeat: no-repeat; 
     }
     .col.black {
        background-image:url(../imgs/player260.png);
        background-size: contain;
        background-repeat: no-repeat;
     }
}
 .next-red {
    background-image:url(../imgs/player260.png);
    opacity: 0.7;
    
    
    /*background-color: rgba(178, 34, 34, 0.404);*/
 }

 .next-black {

      background-image:url(../imgs/player160.png);
      opacity: 0.7;

 }

 .col.red {
     background-image:url(../imgs/player260.png);
     /*background-color: red;*/
 }
 .col.black {
     background-image:url(../imgs/player160.png);
 }
 

 /* TABLE RELATED STYLING CHANGES */
  th, td 
        {
            
            background: #7b4397; /* 48,49,50 same as .gradient class properties(in portfolio-item.css) */
            background: -webkit-linear-gradient(to left,#7b4397,#136569);
            background: linear-gradient(to left,#7b4397,#136569);

            margin:auto;
            border:solid 1px #099e2c;
            padding:2px 4px;
            font:15px Tahoma;
            margin-top: -10px;
            
            color: white;
            font-weight: bold;
            width: 300px;
            height: 40px;
            text-align: center;
            border-collapse: separate;
            border-spacing: 10px;
           
        }


      table  
      {
            
            background: #7b4397; /* 48,49,50 same as .gradient class properties(in portfolio-item.css) */
            background: -webkit-linear-gradient(to left,#7b4397,#136569);
            background: linear-gradient(to left,#7b4397,#136569);

            margin:auto;
            border:solid 1px #099e2c;
            padding:2px 4px;
            margin-top: -10px;
            
            height: 50%;
            border-collapse: separate;
            border-spacing: 10px;
            border-radius: 20px;
            max-width: 500px;

        }

        


        th 
        {
            border-style: solid 5px orange;
            font-size: 25px;
            font-weight:bold;
            color: white;
            text-align: center;
            text-shadow: 3px 2px green;

            font-weight: bold;
          

         }

            